@import url(../mainassets/fonts.css);
@import url(../mainassets/navbar.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    font-family: inter, sans-serif;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

html {
    width: 100vw;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: white;
}

/* Variables */

:root {
    /* fonts */
    --small: 0.75rem;
    --standard: 1rem;
    --medium: 1.125rem;
    --larger: 1.375rem;
    --large: 1.75rem;

    /* font-weights */
    --wg-thin: 100;
    --wg-light: 300;
    --wg-normal: 400;
    --wg-medium: 500;
    --wg-semi-bold: 600;
    --wg-bold: 700;
    --wg-extra-bold: 800;
    --wg-black: 900;

    /* color scheme */
    --beige: #BDA680;
    --darkbrown: #4C2719;
    --white: #fff;
    --lightgreen: #A0B5B0;
    --darkergreen: #354F52;
    --darkgreen: #2F3E46;
    --gray: #323232;
    --link: var(--white);

    /* misc */
    --mobile-menu-width:4rem;
    --transparent-card-bg: linear-gradient(114.32deg, rgba(189, 166, 128, 0.11) -1.28%, rgba(160, 181, 176, 0.11) 21.01%, rgba(160, 181, 176, 0.11) 35.58%, rgba(160, 181, 176, 0.0726) 91.77%);
    --green-card-bg: linear-gradient(115.34deg, #A0B5B0 45.3%, rgba(160, 181, 176, 0.42) 90.61%);
    --card-border-radius: 16px 
}

nav:not(.homepage) {
    position: fixed;
    top: 0;
}

section:not(.main__services):first-child {
    margin-top: 96px;
}

/* fonts */
section p {
    line-height: 150%;
}

a.btn {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
    padding: 48px 96px;
}

section .card {
    flex: 3 1 0;
}

section .card__image {
    background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    min-width: 50px;
    border-radius: var(--card-border-radius);
    flex: 3 1 0;
}

section .card {
    padding: 46px 32px;
    background-image: var(--transparent-card-bg);
    
    
    border-radius: var(--card-border-radius);
}

section .card__content h3 {
    margin-bottom: 32px;
}

section .card__content .btn {
    margin-top: 46px;
}

section .card__content h1 {
    max-width: 80%;
    margin-bottom: 18px;
    font-size: var(--large);
}

section .card__main__text p {
    max-width: 70%;
}

#wood {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    background-color: #354F52;
}

section#wood .background {
    padding: 8em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-image: url(https://images.unsplash.com/photo-1558022103-603c34ab10ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--card-border-radius);
}

section#wood div.card__main__text,
section#wood div.card__main__text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

#wood h1 {
    margin-bottom: 24px;
}

#wood .collection__links {
    display: flex;
    gap: 26px;
    margin-top: 48px;
}

.card__gallery {
    display: block;
    position: relative;
    width: 720px;
    height: 490px;
}

.card__gallery img {
    position: absolute;
    border-radius: var(--card-border-radius);
}

.card__gallery img:nth-child(1) {
    width: 348px;
    height: 190px;
    left: 306px;
    top: 0;
    z-index: 1;
}
.card__gallery img:nth-child(2) {
    width: 480px;
    height: 276px;
    left: 48px;
    top: 120px;
    z-index: 2;
}
.card__gallery img:nth-child(3) {
    width: 298px;
    height: 187px;
    left: 288px;
    top: 300px;
    z-index: 3;
}

#company .images {
    display: none;
}

#reviews .card {
    background: var(--green-card-bg);
}

.card__reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.review {
    padding: 8px;
    background-color: var(--white);
    margin: 1em;
    border-radius: var(--card-border-radius);
    max-width: 370px;
}

.review .user__info {
    display: flex;
    justify-content: space-between;
}

.review .user__info .user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.review .review__text {
    font-size: 14px;
}

.review:nth-child(1) {
    margin-left: 0;
}
.review:nth-child(2) {
    margin-left: 18%;
}
.review:nth-child(3) {
    margin-left: 42%;
}

#reviews .card__image {
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1520025617835-c638cd05bd8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

#reviews .card__image::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(39, 38, 26, 0.527);
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: var(--card-border-radius);
}

#reviews .card__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

section#contact__infos {
    padding: 6em 0;
    background-image: url(https://images.unsplash.com/photo-1583095117095-adaeabc401ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
    background-color: var(--darkergreen);
}

.infos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.infos div img {
    max-width: 42px;
}

.infos div a {
    color: var(--white);
    text-decoration: none;
}

.infos div a:hover {
    text-decoration: underline;
}

section#contact__map {
    padding: 0;
}

section#contact__map iframe {
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .card__gallery {
        display: none;
    }
    #company .card {
        position: relative;
    }
    #company .images {
        display: block;
    }
    #company .images img{
        position: absolute;
        width: 120px;
        border-radius: 12px;
    }
    #company .images img:nth-child(1){
        width: 120px;
        height: auto;
        right: -12px;
        top: -28px;
    }
    #company .images img:nth-child(2){
        width: 240px;
        height: auto;
        right: 64px;
    }
}

@media screen and (max-width: 1140px) {
    #company .card__main__text {
        max-width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    section#services,
    section {
        padding: 2em 96px;
        flex-direction: column-reverse;
    }
    section#company {
        flex-direction: column;
    }

    .card__image {
        flex: auto !important;
        width: 100%;
        height: 120px;
    }

    #reviews .card__image {
        height: 260px;
    }

    section .background {
        border-radius: 0 !important;
    }

    .card__gallery {
        width: 100%;
        height: 360px;
        position: static;
        display: flex;
        gap: 26px;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }

    .card__gallery img {
        height: auto !important;
        width: calc(33% - 26px) !important;
        position: static;
    }

    #company .card__main__text {
        max-width: 100%;
    }
    #company .card .images {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    section:not(#wood, #contact__map) {
        padding: 1em 32px 1em 16px !important;
        gap: 26px;
    }

    .card__content .card__main__text h1,
    .card__content .card__main__text p {
        max-width: 100%;
    }

    .card__gallery {
        height: 240px;
    }

    .card__gallery img:nth-child(1),
    .card__gallery img:nth-child(3) {
        display: none;
    }
    .card__gallery img {
        height: auto !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 720px) {
    #reviews h1 {
        text-align: center;
        max-width: none;
    }
    .card__reviews {
        align-items: center !important;
    }
    #reviews .card__reviews div {
        margin-left: 0;
    }
    section#contact__infos {
        padding: 6em 0;
        background-color: var(--darkergreen);
        background-image: none;
    }
    .card__reviews .star {
        display: none;
    }
    .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2em;
        padding: 0;
    }
}