/* navigation bar */
nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
    padding: 1.5em 5.5em;
    background-color: var(--lightgreen);
    z-index: 999;
    height: 96px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--link);
    font-weight: var(--wg-semi-bold);
    cursor: pointer;
}

nav a:hover {
    color: var(--darkbrown)
}

nav .nav__logo__small {
    display: none;
    width: 56px;
}

/* Button style */
.btn {
    display: inline-block;
    color: var(--white);
    background-color: var(--beige);
    padding: 10px 26px;
    border: 2px solid var(--beige);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--white);
    color: var(--beige);
}

#mobile-menu {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    z-index: 1;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#mobile-menu span{
	position:absolute;
	width:80%;
	height:3px;
    border-radius: 4px;
	left:10%;
	top:50%;
	background-color:var(--white);
	transition:all 0.3s ease-in-out;
}
#mobile-menu span:first-of-type{
	top:25%;
}
#mobile-menu span:last-of-type{
	top:75%;
}

/* Opening animation */
#mobile-menu.open span{
	opacity:0;
}
#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type{
	transform:rotate(45deg);
	opacity:1;
	top:50%;
}
#mobile-menu.open span:last-of-type{
	transform:rotate(-45deg);
}

/** Mobile Menu Content */

#mobile-menu-content{
	width:100%;
	height:calc(100vh - 96px);
	background:var(--white);
	position:fixed;
	top:-100vh;
	left:0;
	z-index:5;
	display:flex;
	align-items:flex-start;
	transition:top 0.7s ease-in-out;
}
#mobile-menu-content.open{
	top:96px;
    z-index: 998;
}
#mobile-menu-content > div{
	width:100%;
	height:calc(100vh - 96px);
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
#mobile-menu-content > div > ul{
	width:100%;
}
#mobile-menu-content ul li{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-top: 1px solid var(--gray);
}
#mobile-menu-content ul li:last-of-type{
	border-bottom: 1px solid var(--gray);
}
#mobile-menu-content ul li a{
	display: block;
	padding: 2rem;
	text-decoration: none;
	color: black;
    font-weight: 600;
}

#mobile-menu-content a:hover {
    color: brown;
}

/* Heading Thumnail (Only on Main Homepage) */
header .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1510694853838-e4a8c978f518?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header .thumbnail img {
    padding: 2em;
    height: 256px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
    width: 100%;
    background-color: #323232;
}

footer img {
    margin-bottom: 2em;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

/* Media Querrys */

@media screen and (max-width: 1020px) {
    nav .nav__logo__small {
        display: block;
    }

    nav .nav__logo__large {
        display: none;
    }
}

@media (max-width: 720px){
    nav .nav__logo__large {
        display: block;
    }

    nav .nav__logo__small {
        display: none;
    }

    .desktop,
    header .thumbnail {
        display: none;
    }

    header nav {
        justify-content: center;
        gap: 0;
    }
	
	header nav ul{
		display:none;
	}

    nav .nav__links a {
        text-decoration: none;
        color: black;
    }

    .link__contact.btn {
        background-color: transparent;
        border: none;
        padding: 0 0;
    }

    nav a:hover {
        color: beige;
    }
}

@media screen and (max-width: 480px) {
    nav .nav__logo__small {
        display: block;
    }

    nav .nav__logo__large {
        display: none;
    }

    nav {
        padding: 2em;
        justify-content: flex-start !important; 
    }
}